.action-button{
    width: 2rem;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border-style: none;
    cursor: pointer;

    img{
        width: auto;
        height: 1.2rem;
    }
}