.todo-pages {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;

  .todo-cntnt {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    .todo-childrens {
      width: 85%;
      height: 65vh;
      overflow-y: scroll;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
    }

    .todo-childrens::-webkit-scrollbar {
      width: 0.05rem;
    }
    .todo-childrens::-webkit-scrollbar-track {
      background: var(--bg-color);
    }
  }
}
