* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", monospace;
  color: var(--primary);
}

.App {
  --bg-color: #f5f5f5;
  --primary: #30475e;
  --secondary: #f05454;
}

h1 {
  font-size: 50px;
  color: var(--primary);
}

span {
  font-size: 20px;
  font-weight: 300;
}

a {
  color: var(--primary);
}

body::-webkit-scrollbar {
  width: 0.3rem;
}

/*fundo da barra*/

::-webkit-scrollbar-track {
  background: var(--bg-color);
}

/*indicador de altura da pagina*/

::-webkit-scrollbar-thumb {
  background: var(--primary);
}
